/* flex 속성 없이 */
.parent {
  border: 5px solid #000;
  width: 1280px;
  overflow: hidden;
}
.parent div {
  border: 5px solid seagreen;
  height: 100px;
  float: left;
  width: calc(1280px / 3);
  box-sizing: border-box;
}
/* flex 속성 사용 */
.parent1 {
  border: 5px solid #000;
  width: 1320px;
  display: flex;
}
.parent1 div {
  border: 5px solid rebeccapurple;
  height: 100px;
  flex: 1;
}
/* flex 속성 정렬 사용 */
.parent2 {
  border: 5px solid #000;
  width: 1280px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent2 div {
  border: 5px solid rebeccapurple;
  height: 100px;
  width: 300px;
}
/* card 속성 사용 */
.card {
  border: 1px solid #000;
  width: 600px;
  height: 400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  border: 1px solid rgb(20, 156, 116);
  width: 70%;
}
.card h1 {
  margin: 0;
}
/* flex 속성 순서 */
.parent3 {
  border: 1px solid #000;
  width: 600px;
  display: flex;
}
.child3-1,
.child3-2 {
  border: 1px solid rgb(20, 156, 116);
  height: 150px;
  flex: 1;
}
.child3-1 {
  order: 2;
}
.child3-2 {
  order: 1;
}
