body {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  height: 100vh;
}

.tooltip {
  //border: 1px solid #000;
  position: relative;
  &:hover span {
    //display: block;
    opacity: 1;
    visibility: visible;
  }
  .fa {
    font-size: 50px;
    color: dodgerblue;
  }
  > span {
    //display: none;
    opacity: 0;
    position: absolute;
    background-color: #000;
    color: #fff;
    width: 200px;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    visibility: hidden;
    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #000;
      bottom: -5px;
      transform: translateX(-50%) rotate(45deg);
      left: 50%;
    }
  }
}
