.container {
  .sidebar {
    width: 250px;
    height: 100vh;
    background-color: aquamarine;
    position: fixed;
    top: 0;
    left: -250px;
    transition: 0.3s;
  }
  input[id="trigger"]:checked ~ .sidebar {
    left: 0;
  }
  input[id="trigger"]:checked + label {
    left: 250px;
  }
  input[id="trigger"] {
    display: none;
  }
  input[id="trigger"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  input[id="trigger"]:checked + label span:nth-child(2) {
    opacity: 0;
  }
  input[id="trigger"]:checked + label span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }
  label[for="trigger"] {
    width: 30px;
    height: 20px;
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    transition: 0.3s;
    span {
      display: block;
      height: 2px;
      background-color: #000;
      width: 100%;
      position: absolute;
      left: 0;
      transition: 0.3s;
      z-index: 1000;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
      }
      &:nth-child(3) {
        top: 100%;
      }
    }
  }
}
