.container {
  input[id="trigger"] {
    display: none;
  }
  label[for="trigger"] {
    border: 5px solid rebeccapurple;
    width: 30px;
    height: 20px;
    display: block;
    position: relative;
    span {
      display: block;
      height: 2px;
      background-color: #000;
      width: 100%;
      position: absolute;
      left: 0;
      :nth-child(1) {
        top: 0;
      }
      :nth-child(2) {
        top: 50%;
      }
      :nth-child(3) {
        top: 100%;
      }
    }
  }
}
